@layer components {
  .text {
    &::after {
      content: '_';
      visibility: hidden;
    }
  }

  .glyph {
    color: #FF9F00; /* Orange */
    opacity: 0.8;
    font-weight: var(--fontWeightBold);
    font-family: var(--japaneseFontStack);
    line-height: 0;
  }

  .value {
    color: #309898; /* New blue */
    opacity: 1;
  }
}
